.subject {
  max-width: 100%;
  font-size: 140%;
  letter-spacing: 3px;
  padding-left: 6px;
  padding-bottom: 2px;
  padding-top: 10px;
  border-left: 4px solid #bababa;
  border-bottom: 2px solid #bababa;
  /* margin-bottom: 15px; */
  float: left;
}

.imageBox {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  padding: 2%;
}